# **Regular Expressions**

#### **Importing the Regex Module**

In [1]:
import re

###### **Example 1: Extracting Name and Degree Information**

In [42]:
text = """
    My name is E.S.Mangala Amizthini , I am a B.E. Chemical Engineering second year student.
    My name is E.S.Mangala Yazhini , I am a B.E. Computer Science final year student.
  """

pattern = "name is ([^,]*) ,[^B]+(B.E.[a-z A-Z]+) student"

matches = re.findall(pattern,text)
print(f"matches : \n{matches}")

matches :
[('E.S.Mangala Amizthini', 'B.E. Chemical Engineering second year'), ('E.S.Mangala Yazhini', 'B.E. Computer Science final year')]

###### **Example 2: Extracting Phone Numbers and Emails from Chat Messages**

In [44]:
chat1 = 'codebasics: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

phone_pattern = r"\(\d{3}\)-\d{3}-\d{4}|\d{10}"
email_pattern = r"([a-zA-z0-9]+@[a-zA-z0-9]+\.[a-zA-z]*)"

phone_no_chat_1 = re.findall(phone_pattern,chat1)
phone_no_chat_2 = re.findall(phone_pattern,chat2)
phone_no_chat_3 = re.findall(phone_pattern,chat3)

email_chat_1 = re.findall(email_pattern,chat1)
email_chat_2 = re.findall(email_pattern,chat2)
email_chat_3 = re.findall(email_pattern,chat3)


print(f"email from chat 1 : {email_chat_1}, phone no from chat 1 : {phone_no_chat_1}")
print(f"email from chat 2 : {email_chat_2}, phone no from chat 2 : {phone_no_chat_2}")
print(f"email from chat 3 : {email_chat_3}, phone no from chat 3 : {phone_no_chat_3}")

email from chat 1 : ['abc@xyz.com'], phone no from chat 1 : ['1235678912']
email from chat 2 : ['abc@xyz.com'], phone no from chat 2 : ['(123)-567-8912']
email from chat 3 : ['abc@xyz.com'], phone no from chat 3 : ['1235678912']

###### **Example 3: Extracting Personal Information from Biography Text**

In [49]:
text_about_person='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''


# Patterns
age_pattern = r"age (\d{2})"
name_pattern = r"Born.([^\n]*)"
birth_date_pattern = r"Born.[^\n]*\n([^\(]*)"
birth_place_pattern = r"age.[^\n]*\n([^\n]*)"

# Function to extract the person details
def extract_information(text) :
  age_pattern = r"age (\d{2})"
  name_pattern = r"Born.([^\n]*)"
  birth_date_pattern = r"Born.[^\n]*\n([^\(]*)"
  birth_place_pattern = r"age.[^\n]*\n([^\n]*)"

  person_name = re.findall(name_pattern,text)
  person_age = re.findall(age_pattern,text)
  person_birth_date = re.findall(birth_date_pattern,text)
  person_birth_place = re.findall(birth_place_pattern,text)

  return {
      'name': person_name[0].strip(),
      'age' : int(person_age[0]),
      'date_of_birth' : person_birth_date[0].strip(),
      'place_of_birth' : person_birth_place[0].strip()
  }

In [50]:
extract_information(text_about_person)

{'name': 'Elon Reeve Musk',
 'age': 50,
 'date_of_birth': 'June 28, 1971',
 'place_of_birth': 'Pretoria, Transvaal, South Africa'}